@page
@model Event.Pages.EventsModel

@{
    ViewData["Title"] = "Events";
}

<h1>Events</h1>
@foreach (var item in Model.Events)
{

    <div class="jumbotron ">
        <h1 class="display-4 text-center">@Html.DisplayFor(modelItem => item.Title)</h1>
        <p class="lead text-center">@Html.DisplayFor(modelItem => item.Description)</p>
        <hr class="my-4">
        <p class="font-weight-bold text-center">Date the event was created:  @Html.DisplayFor(modelItem => item.Date) </p>
        <p class="lead">
            <div class="d-flex justify-content-center">
                <a asp-page="./JoinEvent" class=" btn btn-primary text-center" asp-route-id="@item.Id">See more and join event</a>
            </div>

        </p>
    </div>
}
