@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}





@if (User.IsInRole("Admin"))
{
    <div class="text-center">
        <h1 class="display-4">Hi Admin, these are your options:</h1>
        <a asp-page="AdminPage" type="button" class="btn btn-outline-primary">Handle roles</a>
        <a asp-page="AddEvents" type="button" class="btn btn-outline-primary">Create events</a>

    </div>
}
else if (User.IsInRole("Organizer"))
{
    <div class="text-center">
        <h1 class="display-4">Hi Organizer, why not create an event?</h1>
        <a asp-page="AddEvents" type="button" class="btn btn-outline-primary">Create events</a>

    </div>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img class="card-img mb-4" src="~/images/discgolfbasket.jpg" />
    <h3>Join us today and compete in tournaments or play for fun with your local disc golf club</h3>

    <div class="btn-group">


        @if (User.Identity.IsAuthenticated)
        {
            <a  asp-area="identity" asp-page="/User/Logout" type="button" class="btn btn-outline-primary">Log Out</a>
        }
        else
        {
            <a asp-area="identity" asp-page="Account/Register" type="button" class="btn btn-outline-primary">Register</a>
            <a asp-area="identity" asp-page="Account/Login" type="button" class="btn btn-outline-primary">Log In</a>
      
          
        }



    </div>
</div>